<template>
  <div class="containerVideo">
    <video loop autoPlay muted class="video-bg ">
      <source src="@/assets/video/Forest.mp4" type="video/mp4" />
    </video>
    <img
      src="@/assets/img/background-mobile.png"
      alt="sunlight forest"
      class="imgMobile"
    />
  </div>
</template>

<script>
export default {
  name: 'backgroundVideo'
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
