@import "@/assets/scss/utilities/config";
.video-bg {
    position: relative;
    width: auto;
    min-width: 100%;
    height: 100vh;
    @include media-breakpoint-down(ts) {
        height: 100%;
    }
}
video {
    display: block;
    object-fit: cover;
}
@include media-breakpoint-down(ts) {
    video {
        display: none;
    }
}
.imgMobile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-up(ts) {
        display: none;
    }
}

.containerVideo {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -100;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
}
