<template>
  <div id="form" class="page">
    <Meta pageTitle="AUTH-PROJECT | Page de connexion" />
    <h1 class="title">
      connexion
    </h1>

    <div class="containerForm">
      <form
        id="myform"
        v-on:submit.prevent="onSubmit()"
        enctype="multipart/form-data"
      >
        <InputForm
          icon
          nameIcon="envelope"
          prefixIcon="far"
          type="email"
          placeholder="email"
          v-model="email"
          :errorMsg="msg.email"
          :helperMsg="msg.emailInvalid"
        />
        <InputForm
          icon
          nameIcon="key"
          prefixIcon="fas"
          type="password"
          placeholder="password"
          v-model="password"
          :errorMsg="msg.password"
        />
        <div class="forgot">
          <p @click="() => $router.push({ name: 'forgot' })">
            Mot de passe oublier ?
          </p>
        </div>
        <Recaptcha />
        <div class="error" v-if="isError">
          {{ msg.msgError }}
        </div>
        <BtnSubmit
          title="envoyer"
          label="envoyer"
          textBtn="envoyer"
          textBtnLoader="envoie en cours"
          active-loader
          styleBtn="outlined"
          colorBtn="light"
          class="contentBtn"
          typeBtn="submit"
          icon
          nameIcon="paper-plane"
        />
      </form>
    </div>
  </div>
</template>

<script>
import Api from '@/classes/api/Api';
import BtnSubmit from '@/components/atoms/Button';
import Recaptcha from '@/components/atoms/Recaptcha';
import InputForm from '@/components/atoms/Form/InputForm';
import Meta from '@/components/atoms/Meta';

export default {
  name: 'Login',
  components: {
    BtnSubmit,
    InputForm,
    Recaptcha,
    Meta
  },
  data() {
    return {
      email: '',
      password: '',
      msg: [],
      isError: false,
      more: false
    };
  },
  methods: {
    validateEmail(value) {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
        this.email.length <= 0
      ) {
        this.msg['emailInvalid'] = '';
      } else {
        this.msg['emailInvalid'] = 'Adresse email invalide.';
      }
    },

    resetMsg() {
      if (this.email.length > 1) {
        this.msg['email'] = '';
      }
      if (this.password.length > 1) {
        this.msg['password'] = '';
      }
    },

    async onSubmit() {
      if (this.email === '') {
        this.msg['email'] = "Merci d'indiquer un email.";
      }
      if (this.password === '') {
        this.msg['password'] = "Merci d'indiquer un mot de passe.";
      } else {
        let data = {
          email: this.email,
          password: this.password
        };

        await Api.login(data)
          .then(({ data }) => {
            if (data) {
              localStorage.setItem('token', JSON.stringify(data.token));
              this.$router.push({ name: 'Home' });

              const token = JSON.stringify(data.token);
              var base64Url = token.split('.')[1];
              var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
              var jsonPayload = decodeURIComponent(
                atob(base64)
                  .split('')
                  .map(function(c) {
                    return (
                      '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
                    );
                  })
                  .join('')
              );
              localStorage.setItem('user', jsonPayload);
              this.$store.commit('user/user', JSON.parse(jsonPayload));
            }
          })
          .catch(error => {
            switch (error.response.status) {
              case 401:
                this.isError = error;

                this.msg['msgError'] = error.response.data.error;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 403:
                this.isError = error;
                this.msg['msgError'] = `accès refusé.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 404:
                this.isError = error;
                this.msg['msgError'] = `page non trouvée.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 500:
                this.isError = error;
                this.msg[
                  'msgError'
                ] = `Une erreur 500 serveur s'est produite merci de réessayer ultérieurement.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 504:
                this.isError = error;
                this.msg['msgError'] = `le serveur n'a pas répondu.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              default:
                console.log('some other error');
                break;
            }
          });
        document.getElementById('myform').reset();
      }
    }
  },

  watch: {
    email(value) {
      this.email = value;
      this.validateEmail(value);
      this.resetMsg(value);
    },

    password(value) {
      this.password = value;
      this.resetMsg(value);
    }
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
