<template>
  <nav role="navigation">
    <div class="menu">
      <ul class="menu-nav" v-if="!user">
        <li class="nav-item">
          <router-link to="/login" class="nav-link">
            <icon :icon="['fas', 'sign-in-alt']" class="icon" />connexion
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/register" class="nav-link">
            <icon :icon="['fas', 'user-plus']" class="icon" />s'inscrire
          </router-link>
        </li>
      </ul>
      <ul class="menu-nav" v-else>
        <li class="nav-item">
          <button @click="handleClick" class="nav-link">
            <icon :icon="['fas', 'sign-out-alt']" class="icon" />se déconnecter
          </button>
        </li>
        <li class="nav-item">
          <button @click="handleuserAccount" class="nav-link">
            <icon :icon="['fas', 'user-edit']" class="icon" />profil
          </button>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Menu',
  methods: {
    handleClick() {
      localStorage.removeItem('token');
      localStorage.removeItem('user');
      this.$store.commit('user/user', null);
      this.$router.push({ name: 'Home' });
    },
    handleuserAccount() {
      const userId = this.user.id;
      this.$router.push({ path: `/edit/${userId}` });
    }
  },
  computed: {
    ...mapGetters('user', ['user'])
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
