@import "../../../assets/scss/utilities/config";

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    .menu-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        .icon {
            margin-right: 5px;
            @include font-size(1);
        }
        .nav-link {
            color: color(light);
            @include font-family(Myriad Pro Light);
            @include font-size(1.2);
            cursor: pointer;
            @include media-breakpoint-down(ts) {
                @include font-size(1.2);
            }

            &:hover {
                color: color(focus);
                @include easeOut;
                @include font-size(1.3);

                @include media-breakpoint-down(ts) {
                    @include font-size(1.4);
                }
            }
            &.router-link-exact-active {
                color: color(focus);
                @include font-size(1.3);
                border-bottom: 1px solid color(focus);
                @include media-breakpoint-down(ts) {
                    @include font-size(1.4);
                }
            }
        }

        li {
            padding: 10px;
            white-space: nowrap;
            button {
                background: transparent;
            }
        }
    }
}
