<template>
  <div class="app">
    <BackgroundVideo />
    <NavBar />
    <main>
      <router-view />
    </main>
  </div>
</template>
<script>
// import Api from '@/classes/api/Api';
import { mapGetters } from 'vuex';
import BackgroundVideo from '@/components/atoms/backgroundVideo';
import NavBar from '@/components/molecules/NavBar';
export default {
  components: {
    NavBar,
    BackgroundVideo
  },
  methods: {
    parseJwt() {
      const token = JSON.parse(localStorage.getItem('token'));
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(
        atob(base64)
          .split('')
          .map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join('')
      );
      localStorage.setItem('user', jsonPayload);
      this.$store.commit('user/user', JSON.parse(jsonPayload));
      // return JSON.parse(jsonPayload);
    }
  },
  async created() {
    const user = JSON.parse(localStorage.getItem('user'));
    console.log('user', user);
    await this.$store.commit('user/user', user);
    // this.parseJwt();

    if (window.location.href.indexOf('access_token') != -1) {
      setTimeout(() => {
        localStorage.setItem(
          'token',
          JSON.stringify(this.$route.query.access_token)
        );
        this.parseJwt();
        this.$router.replace('/');
      }, 0);
    } else {
      console.log('vide');
    }
  },
  computed: {
    ...mapGetters('user', ['user'])
  }
};
</script>
<style lang="scss" src="@/assets/scss/style.scss"></style>
