<template>
  <div class="inputForm" :id="`input${uuid}`">
    <input
      class="inputBox custom-file-input"
      :class="`field${computedClass} ${classes}`"
      :type="computedType"
      :placeholder="placeholder"
      :pattern="pattern"
      :required="required"
      :id="`input${uuid}`"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      @keyup.enter="enterClicked"
      ref="Input"
    />
    <i
      :class="`adornment password icon-${passwordIcon}`"
      v-if="type === 'password'"
      @mousedown="passwordIcon = 'eye-blocked'"
      @mouseup="passwordIcon = 'eye'"
    ></i>
    <icon v-if="icon" :icon="[prefixIcon, nameIcon]" class="iconPlaceholder" />

    <p v-if="(state === null && !state && errorMsg) || helperMsg || successMsg">
      <span v-if="!state && errorMsg" class="error-message"
        ><icon :icon="['far', 'times-circle']" class="icon" />{{
          errorMsg
        }}</span
      >

      <span v-if="helperMsg" class="error-message invalid"
        ><icon :icon="['far', 'times-circle']" class="icon" />{{
          helperMsg
        }}</span
      >
      <span v-if="successMsg" class="success-message"
        ><icon :icon="['fas', 'check']" class="icon" />{{ successMsg }}</span
      >
    </p>

    <span class="adornment" v-if="iconText">{{ iconText }}</span>
  </div>
</template>

<script>
import { uuid } from 'vue-uuid';
export default {
  name: 'FormInput',
  emits: ['update:modelValue'],
  props: {
    modelValue: { type: [String, Number] },
    placeholder: { type: String, default: null },
    required: { type: Boolean, default: false },
    label: { type: String, default: null },
    type: { type: String, default: 'text' },
    pattern: { type: String, default: null },
    errorMsg: { type: String, default: null },
    helperMsg: { type: String, default: null },
    successMsg: { type: String, default: null },
    icon: { type: Boolean },
    // icone: { type: Boolean },
    nameIcon: { type: [String, Number] },
    prefixIcon: { type: String, default: 'fas' },
    iconText: { type: String, default: null },
    classes: { type: String },
    getFocus: { type: Boolean, default: false },
    state: { type: Boolean, default: null }
  },
  data() {
    return {
      uuid: uuid.v4(),
      passwordIcon: 'eye'
    };
  },
  computed: {
    computedType() {
      if (this.type === 'password') {
        return this.passwordIcon === 'eye' ? 'password' : 'text';
      }
      return this.type;
    },
    computedClass() {
      let className = '';
      if (this.state !== null) {
        className += this.state ? ' valid' : ' invalid';
      }
      return className;
    }
  },
  mounted() {
    if (this.getFocus) {
      this.$refs.Input.focus();
    }
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
