@import "@/assets/scss/utilities/config";
.inputForm {
    width: 100%;
    min-height: 80px;
    .inputBox {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid color(light);
        width: 100%;
        // height: 50px;
        padding: 10px 40px;
        font-size: 1rem;
        margin-bottom: 30px;
        outline: none;
        background: transparent !important;
        color: color(light) !important;
        @include font-family("Imbue-Regular", 400);
        @include font-size(1.5);
        &:focus {
            border-bottom: 1px solid color(focus);
        }
    }

    .iconPlaceholder {
        position: absolute;
        left: 15px;
        transform: translate(10px, 18px);
        color: color(light);
    }

    .errorIcon {
        margin-right: 5px;
    }

    .error-message {
        @include errorText;
    }
    .invalid {
        margin-top: 0;
    }
    .success-message {
        @include errorText;
        color: color(success);
    }

    &-outlined .field {
        padding: 10px 15px;
        border-radius: 9px;
        border: 1px solid color(border);
        @include transition(border-color 0.2s, color 0.2s);
        color: color(text);
        width: 100%;
    }

    input[type="password"],
    input[type="tel"],
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="search"] {
        @include placeholder {
            color: color(light);
            &:focus {
                border-color: color(focus);
            }
        }
        &:focus + .iconPlaceholder {
            color: color(focus);
        }
        &:focus {
            border-color: color(focus);
            @include placeholder {
                color: color(focus);
            }
        }

        &[required]:invalid {
            box-shadow: none;
        }

        &.invalid {
            border-color: color(danger);
            box-shadow: none;
            color: color(danger);

            & + .label {
                color: color(danger);
            }
        }

        &.valid {
            border-color: color(success);
            box-shadow: none;
        }

        &[readonly] {
            background-color: getRgba(light, 0.4);

            &:focus {
                border-color: color(border);
            }
        }
    }
    input[type="submit"] {
        cursor: pointer;
    }
    .adornment {
        &.password,
        &.check {
            position: absolute;
            cursor: pointer;
            transform: translate(-45px, 18px);
            right: 0;
        }
        &.password {
            color: color(light);
        }
        &.check {
            color: color(success);
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        @include font-size(1);
        @include font-family("Imbue-Regular", 400);
        -webkit-text-fill-color: color(secondary);
        transition: background-color 5000s ease-in-out 0s;
        border-bottom: 1px solid color(primary);
    }
}
