#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
    @include media-breakpoint-down(ts) {
        margin-top: 20%;
    }

    .title {
        width: 100%;
        @include titleLine;
        @include font-size(2);
        &::after,
        &::before {
            width: 10%;
        }
        @include media-breakpoint-down(ts) {
            @include font-size(1.4);
        }
    }

    .containerForm {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .contentBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            @include font-size(1.5);
            @include font-family(Myriad Pro Light);
            color: color(light);
            margin-top: 20px;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 60px;
            border-radius: 10px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            @include media-breakpoint-down(ts) {
                margin-top: 40px;
            }

            .success,
            .error {
                width: 100%;
                border-radius: 5px;
                text-align: center;
                @include font-size(1.2);
                @include font-family(Imbue-SemiBold);
                padding: 20px;
                margin-top: 16px;
                margin-bottom: 16px;
                @include easeOut;
            }
            .success {
                background: lightenmsg(success);
            }
            .error {
                background: lightenmsg(danger);
            }
        }
    }

    .forgot {
        text-decoration: underline;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        cursor: pointer;
        color: color(light);
        @include font-size(1);
        @include font-family(Myriad Pro Light);
    }
}
