<template>
  <div class="containerNav">
    <router-link to="/" class="title">
      Auth-project <icon :icon="['fas', 'user-astronaut']" class="icon" />
    </router-link>
    <!-- <div class="title"><h1>Skylab-x</h1></div> -->
    <Menu />
  </div>
</template>

<script>
import Menu from '@/components/atoms/Menu';
export default {
  name: 'NavBar',
  components: {
    Menu
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
