@import "@/assets/scss/utilities/config";

.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    // background-color: color(light);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    // border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    @include media-breakpoint-down(ts) {
        flex-direction: column;
        padding: 10px 20px;
    }
    .title {
        width: 300px;
        color: color(light);
        @include titleLine;
        @include font-size(2);
        @include font-family(Imbue-Regular);
        text-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        &::after,
        &::before {
            width: 10%;
        }
        cursor: pointer;
    }
    .icon {
        margin-left: 10px;
        margin-top: -5px;
    }
}
