<template>
  <div id="form" class="page" v-if="user">
    <Meta pageTitle="AUTH-PROJECT | Page de profil utilisateur" />
    <span class="title">profil de {{ user.firstname }}</span>
    <div class="containerProfile">
      <div class="containerInfo">
        <div class="contentAvatar">
          <img src="@/assets/img/img_avatar.png" alt="Avatar" class="avatar" />
          <span class="userName">{{ user.firstname }} {{ user.lastname }}</span>
        </div>
        <div class="contentInfo">
          <p class="text">
            <icon :icon="['fas', 'envelope']" class="icon" /><button
              class="email"
              :href="`mailto:${user.email}`"
            >
              {{ user.email }}
            </button>
          </p>
          <icon :icon="['fas', 'address-card']" class="icon" />
          <div class="text contentAddress">
            <address>
              <p>Adresse: 0 rue du paradis</p>
              <p>Ville: evil</p>
              <p>Code postal: 666</p>
              <p>
                Pays: neverland
              </p>
            </address>
            <p class="phone">
              <icon :icon="['fas', 'mobile-alt']" class="icon" />666-666-6666
            </p>
          </div>
        </div>
      </div>
      <div class="containerForm">
        <form
          id="myform"
          v-on:submit.prevent="onSubmit()"
          enctype="multipart/form-data"
        >
          <h3 class="title">Modifier vos informations</h3>
          <InputForm
            icon
            nameIcon="user"
            prefixIcon="far"
            type="text"
            placeholder="Prénom"
            v-model="firstName"
            :errorMsg="msg.firstName"
          />
          <InputForm
            icon
            nameIcon="user"
            prefixIcon="far"
            type="text"
            placeholder="Nom"
            v-model="lastName"
            :errorMsg="msg.lastName"
          />
          <InputForm
            icon
            nameIcon="envelope"
            prefixIcon="far"
            type="email"
            placeholder="email"
            v-model="email"
            :errorMsg="msg.email"
            :helperMsg="msg.emailInvalid"
          />
          <InputForm
            icon
            nameIcon="key"
            prefixIcon="fas"
            type="password"
            placeholder="Mot de passe"
            v-model="password"
            :errorMsg="msg.password"
          />
          <InputForm
            icon
            nameIcon="key"
            prefixIcon="fas"
            type="password"
            placeholder="Confirmation mot de passe"
            v-model.lazy="checkPassword"
            :errorMsg="msg.checkPassword"
            :helperMsg="msg.passwordInvalid"
            :successMsg="msg.passwordSuccess"
          />
          <Recaptcha />
          <div class="success" v-if="isSuccess">
            Informations mises à jour avec succès.
          </div>
          <div class="error" v-if="isError">
            {{ msg.msgError }}
          </div>
          <div class="error" v-if="notSamePasswords">
            <p>Les mots de passe ne sont pas identique</p>
          </div>
          <BtnSubmit
            title="envoyer"
            label="envoyer"
            textBtn="envoyer"
            textBtnLoader="envoie en cours"
            active-loader
            styleBtn="outlined"
            colorBtn="light"
            class="contentBtn"
            typeBtn="submit"
            icon
            nameIcon="paper-plane"
          />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Api from '@/classes/api/Api';
import { mapGetters } from 'vuex';
import BtnSubmit from '@/components/atoms/Button';
import Recaptcha from '@/components/atoms/Recaptcha';
import InputForm from '@/components/atoms/Form/InputForm';
import Meta from '@/components/atoms/Meta';

export default {
  name: 'UserAccount',
  components: {
    BtnSubmit,
    InputForm,
    Recaptcha,
    Meta
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      checkPassword: '',
      msg: [],
      isSuccess: false,
      isError: false,
      more: false
    };
  },
  computed: {
    notSamePasswords() {
      if (this.passwordsFilled) {
        return this.password !== this.checkPassword;
      } else {
        return false;
      }
    },
    passwordsFilled() {
      return this.password !== '' && this.checkPassword !== '';
    },
    ...mapGetters('user', ['user'])
  },
  methods: {
    validateEmail(value) {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
        this.email.length <= 0
      ) {
        this.msg['emailInvalid'] = '';
      } else {
        this.msg['emailInvalid'] = 'Adresse email invalide.';
      }
    },
    resetMsg() {
      if (this.firstName.length > 1) {
        this.msg['firstName'] = '';
      }
      if (this.lastName.length > 1) {
        this.msg['lastName'] = '';
      }

      if (this.email.length > 1) {
        this.msg['email'] = '';
      }
      if (this.password.length > 1) {
        this.msg['password'] = '';
      }
      if (this.checkPassword.length > 1) {
        this.msg['checkPassword'] = '';
      }
    },

    async onSubmit() {
      if (this.firstName === '') {
        this.msg['firstName'] = 'Merci de renseigner votre prenom.';
      }
      if (this.lastName === '') {
        this.msg['lastName'] = 'Merci de renseigner votre nom.';
      }

      if (this.email === '') {
        this.msg['email'] = "Merci d'indiquer un email.";
      }
      if (this.password === '') {
        this.msg['password'] = "Merci d'indiquer un mot de passe.";
      }
      if (this.checkPassword === '') {
        this.msg['checkPassword'] = 'Merci de confirmer votre mot de passe.';
      } else {
        let data = {
          firstname: this.firstName,
          lastname: this.lastName,
          email: this.email,
          password: this.password,
          password_confirmation: this.checkPassword
        };
        await Api.updateProfile(this.$route.params.id, data)
          .then(({ data }) => {
            if (data) {
              this.isSuccess = !this.isSuccess;
              localStorage.removeItem('user');
              localStorage.setItem('user', JSON.stringify(data.user));
              this.$store.commit('user/user', data.user);
              console.log(data);
              setTimeout(() => {
                this.isSuccess = !this.isSuccess;
              }, 3000);
            }
          })
          .catch(error => {
            switch (error.response.status) {
              case 400:
                this.isError = error;
                this.msg['msgError'] = 'Cet email exit déjà !';
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 401:
                this.isError = error;
                this.msg['msgError'] = `utilisateur non authentifié.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 403:
                this.isError = error;
                this.msg['msgError'] = `accès refusé.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 404:
                this.isError = error;
                this.msg['msgError'] = `L'utilisateur n'existe pas !`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 500:
                this.isError = error;
                this.msg[
                  'msgError'
                ] = `Une erreur 500 serveur s'est produite merci de réessayer ultérieurement.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 504:
                this.isError = error;
                this.msg['msgError'] = `le serveur n'a pas répondu.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              default:
                console.log('some other error');
                break;
            }
            console.log('error', error);
          });
        document.getElementById('myform').reset();
      }
    }
  },

  watch: {
    email(value) {
      this.email = value;
      this.validateEmail(value);
      this.resetMsg(value);
    }
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
