@import "@/assets/scss/utilities/config";
#form {
    .title {
        font-size: 20px;
    }
}
.containerProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    @include media-breakpoint-down(ts) {
        grid-template-columns: 1fr;
    }

    .containerInfo {
        min-width: 150px;
        max-width: 500px;
        height: 616px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        margin-right: 20px;
        border-radius: 10px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        .contentAvatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 10%;

            .avatar {
                vertical-align: middle;
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            .userName {
                text-align: center;
                color: color(light);
                @include font-family(Imbue-SemiBold);
                @include font-size(2);
            }
        }
        .contentInfo {
            top: 45%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            address,
            .phone {
                text-align: left;
                @include font-size(1.5);
            }
            .contentAddress {
                margin-top: 10px;
                padding: 5px 30px;
                border-radius: 5px;
                border: 1px solid color(light);
            }
            button {
                background: transparent;
            }
            .email {
                text-align: center;
                color: color(light);
                @include font-family(Myriad Pro Light);
                @include font-size(2);
            }
            .text {
                text-align: center;
                color: color(light);
                @include font-family(Myriad Pro Light);
                @include font-size(2);
                text-transform: capitalize;
            }
            .icon {
                @include font-size(1.5);
                margin-right: 10px;
            }
            .fa-address-card {
                width: 100%;
                margin-top: 30px;
                text-align: center;
                color: color(light);
                @include font-size(3);
            }
        }
    }
}
