<template>
  <teleport to="head">
    <title>{{ pageTitle }}</title>
    <meta name="description" :content="pageDescription" />
    <meta name="keywords" :content="keywords" />
  </teleport>
</template>

<script>
export default {
  name: 'Meta',

  props: {
    pageTitle: {
      type: String,
      default: 'AUTH-PROJECT | Chalenge Technique'
    },
    pageDescription: {
      type: String,
      default:
        "Gestion d'une authentification avec VueJs pour le front-end & Laravel pour le Back-end"
    },
    keywords: { type: String, default: 'VueJs,sass,laravel,Linux,Git' }
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
