@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j8up0v');
  src:  url('fonts/icomoon.eot?j8up0v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j8up0v') format('truetype'),
    url('fonts/icomoon.woff?j8up0v') format('woff'),
    url('fonts/icomoon.svg?j8up0v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
