@import "./utilities/config";
/* ATOMS */
@import "./atoms/buttons";
@import "./atoms/page";

/* MOLECULES */
@import "./molecules/form";

/* BASE */
@import "./base/bases";
@import "./base/classes";

.app {
    position: relative;
    // background-color: color(extradark);
    width: 100%;
    height: 100vh;
}
