<template>
  <button
    :type="typeBtn"
    :class="[
      `btn-iconed-${icon} btn-${colorBtn}-${styleBtn}`,
      { 'btn-iconed': icon, 'btn-iconed-invert': iconInvert }
    ]"
    class="btnLoader"
    :aria-label="label"
    :title="title"
  >
    <icon
      v-if="icon || iconInvert"
      :icon="[prefixIcon, nameIcon]"
      class="icon"
    />
    <span v-if="activeLoader" class="followingText">{{ textBtnLoader }}</span>
    <span v-else>{{ textBtn }}</span>
  </button>
</template>

<script>
export default {
  name: 'Btnform',
  props: {
    textBtn: { type: String, required: true },
    textBtnLoader: { type: String, required: false },
    title: { type: String, required: true },
    label: { type: String, required: true },
    loader: { type: Boolean, default: false },
    // Add logo
    icon: { type: Boolean },
    iconInvert: { type: Boolean },
    // Add name icon
    nameIcon: { type: String },
    prefixIcon: { type: String, default: 'fas', required: true },
    styleBtn: { type: String, required: true },
    colorBtn: { type: String, required: true },
    typeBtn: { type: String, required: false }
  },
  data() {
    return {
      activeLoader: this.loader
    };
  }
};
</script>
<style lang="scss" src="./style.scss" scoped></style>
