<template>
  <div class="recaptcha">
    <p>
      Cette page est protégée par Google reCAPTCHA pour nous assurer que vous
      n'êtes pas un robot.
    </p>
    <span class="link" v-if="!more" @click="more = !more">En savoir plus.</span>
    <p v-if="more">
      Les informations collectées par Google reCAPTCHA sont soumises aux
      <a class="link" href="https://policies.google.com/privacy"
        >Règles de confidentialité</a
      >
      et
      <a class="link" href="https://policies.google.com/terms"
        >Conditions d'utilisation</a
      >
      de Google, et sont utilisées pour fournir, maintenir et améliorer le
      service reCAPTCHA, ainsi qu'à des fins de sécurité générale (elles ne sont
      pas utilisées pour les publicités personnalisées par Google).
    </p>
  </div>
</template>

<script>
export default {
  name: 'Recaptcha',
  data() {
    return {
      more: false
    };
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
