@import "@/assets/scss/utilities/config";

.recaptcha {
    margin-top: 30px;
    padding: 10px;
    color: color(light);
    @include font-size(1);
    @include font-family(Myriad Pro Light);
    .link {
        color: color(secondary);
        cursor: pointer;
    }
}
