<template>
  <div id="form" class="page">
    <Meta pageTitle="AUTH-PROJECT | Page de création de compte" />
    <h1 class="title">
      s'inscrire
    </h1>

    <div class="containerForm">
      <form
        id="myform"
        v-on:submit.prevent="onSubmit()"
        enctype="multipart/form-data"
      >
        <InputForm
          icon
          nameIcon="user"
          prefixIcon="far"
          type="text"
          placeholder="Prenom"
          v-model="firstName"
          :errorMsg="msg.firstName"
        />
        <InputForm
          icon
          nameIcon="user"
          prefixIcon="far"
          type="text"
          placeholder="Nom"
          v-model="lastName"
          :errorMsg="msg.lastName"
        />
        <InputForm
          icon
          nameIcon="envelope"
          prefixIcon="far"
          type="email"
          placeholder="email"
          v-model="email"
          :errorMsg="msg.email"
          :helperMsg="msg.emailInvalid"
        />
        <InputForm
          icon
          nameIcon="key"
          prefixIcon="fas"
          type="password"
          placeholder="Mot de passe"
          v-model="password"
          :errorMsg="msg.password"
        />
        <InputForm
          icon
          nameIcon="key"
          prefixIcon="fas"
          type="password"
          placeholder="confirmation mot de passe"
          v-model.lazy="checkPassword"
          :errorMsg="msg.checkPassword"
          :helperMsg="msg.passwordInvalid"
          :successMsg="msg.passwordSuccess"
        />
        <Recaptcha />
        <div class="success" v-if="isSuccess">
          Compte créer avec succès.Merci, de patienter, vous allez être redirigé
          vers la page de connexion dans 2s.
        </div>
        <div class="error" v-if="isError">
          {{ msg.msgError }}
        </div>
        <div class="error" v-if="notSamePasswords">
          <p>Les mots de passe ne sont pas identique</p>
        </div>
        <BtnSubmit
          title="envoyer"
          label="envoyer"
          textBtn="envoyer"
          textBtnLoader="envoie en cours"
          active-loader
          styleBtn="outlined"
          colorBtn="light"
          class="contentBtn"
          typeBtn="submit"
          icon
          nameIcon="paper-plane"
        />
      </form>
    </div>
  </div>
</template>

<script>
import Api from '@/classes/api/Api';
import BtnSubmit from '@/components/atoms/Button';
import Recaptcha from '@/components/atoms/Recaptcha';
import InputForm from '@/components/atoms/Form/InputForm';
import Meta from '@/components/atoms/Meta';

export default {
  name: 'Register',
  components: {
    BtnSubmit,
    InputForm,
    Recaptcha,
    Meta
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      checkPassword: '',
      msg: [],
      isSuccess: false,
      isError: false,
      more: false
    };
  },
  computed: {
    notSamePasswords() {
      if (this.passwordsFilled) {
        return this.password !== this.checkPassword;
      } else {
        return false;
      }
    },
    passwordsFilled() {
      return this.password !== '' && this.checkPassword !== '';
    }
  },
  methods: {
    validateEmail(value) {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
        this.email.length <= 0
      ) {
        this.msg['emailInvalid'] = '';
      } else {
        this.msg['emailInvalid'] = 'Adresse email invalide.';
      }
    },
    resetMsg() {
      if (this.firstName.length > 1) {
        this.msg['firstName'] = '';
      }
      if (this.lastName.length > 1) {
        this.msg['lastName'] = '';
      }

      if (this.email.length > 1) {
        this.msg['email'] = '';
      }
      if (this.password.length > 1) {
        this.msg['password'] = '';
      }
      if (this.checkPassword.length > 1) {
        this.msg['checkPassword'] = '';
      }
    },
    onSubmit() {
      if (this.firstName === '') {
        this.msg['firstName'] = 'Merci de renseigner votre prenom.';
      }
      if (this.lastName === '') {
        this.msg['lastName'] = 'Merci de renseigner votre nom.';
      }

      if (this.email === '') {
        this.msg['email'] = "Merci d'indiquer un email.";
      }
      if (this.password === '') {
        this.msg['password'] = "Merci d'indiquer un mot de passe.";
      }
      if (this.checkPassword === '') {
        this.msg['checkPassword'] = 'Merci de confirmer votre mot de passe.';
      } else {
        let data = {
          firstname: this.firstName,
          lastname: this.lastName,
          email: this.email,
          password: this.password,
          password_confirmation: this.checkPassword
        };

        Api.register(data)
          .then(({ data }) => {
            if (data) {
              this.isSuccess = !this.isSuccess;
              setTimeout(() => {
                this.$router.push({ name: 'login' });
              }, 5000);
            }
          })
          .catch(error => {
            switch (error.response.status) {
              case 400:
                this.isError = error;
                this.msg['msgError'] = 'Cet email exit déjà !';
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 401:
                this.isError = error;
                this.msg['msgError'] = `utilisateur non authentifié.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 403:
                this.isError = error;
                this.msg['msgError'] = `accès refusé.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 404:
                this.isError = error;
                this.msg['msgError'] = `page non trouvée.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 500:
                this.isError = error;
                this.msg[
                  'msgError'
                ] = `Une erreur 500 serveur s'est produite merci de réessayer ultérieurement.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              case 504:
                this.isError = error;
                this.msg['msgError'] = `le serveur n'a pas répondu.`;
                setTimeout(() => {
                  this.isError = !this.isError;
                }, 5000);
                break;
              default:
                console.log('some other error');
                break;
            }
            console.log('error', error.response.data);

            // switch (error.response.data) {
            //   case 'email':
            //     this.isError = error;
            //     this.msg['msgError'] = 'Cet email exit déjà !';
            //     setTimeout(() => {
            //       this.isError = !this.isError;
            //     }, 5000);
            //     break;
            //   case 'password':
            //     this.isError = error;
            //     this.msg['msgError'] = 'password';
            //     setTimeout(() => {
            //       this.isError = !this.isError;
            //     }, 5000);
            //     break;
            //   default:
            //     console.log('some other error');
            //     break;
            // }
          });
        document.getElementById('myform').reset();
      }
    }
  },

  watch: {
    email(value) {
      this.email = value;
      this.validateEmail(value);
      this.resetMsg(value);
    }
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
