@each $color in (cancel, primary, text, success, danger, menu, focus, light) {
    .btn-#{$color}-contained {
        display: flex;
        height: 58px;
        padding: 10px;
        border-radius: 6px;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        @include font-size(1);
        @include font-family("Myriad Pro Light", 100);
        background: color($color);
        &:hover {
            background: darkanddesaturate($color);
            @include easeOut;
        }
    }

    .btn-#{$color}-outlined {
        height: 42px;
        display: flex;
        align-items: center;
        padding: 10px 13px;
        margin: 5px;
        @include font-size(1);
        @include font-family("Myriad Pro Light", 100);
        @include easeOut;
        background-color: transparent;
        color: color($color);
        border: 1px solid color($color);
        text-decoration: none;
        border-radius: 6px;
        &:hover,
        &:focus {
            background-color: color($color);
            color: color(light);
            @include easeOut;
        }
    }
}
