.page {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  width: 100%;
  // height: calc(100vh - 100px);

  h1 {
    @include font-size(2);

    span {
      display: block;
      @include font-size(1);
    }
  }
}
