$breakpoints: (
  xs: 320px,
  ts: 576px,
  sm: 768px,
  md: 1025px,
  lg: 1200px,
  xl: 1600px,
);

@mixin media-breakpoint-up($breakpoint) {
  @media all and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media all and (max-width: map-get($breakpoints, $breakpoint) - 1px) {
    @content;
  }
}

@mixin media-breakpoint-between($bpMin, $bpMax) {
  @media all and (min-width: map-get($breakpoints, $bpMin)) and (max-width: map-get($breakpoints, $bpMax) - 1px) {
    @content;
  }
}

@mixin media-breakpoint-up-custom($bp) {
  @media all and (min-width: $bp) {
    @content;
  }
}

@mixin media-breakpoint-down-custom($bp) {
  @media all and (max-width: $bp) {
    @content;
  }
}

@mixin media-breakpoint-between-custom($bpMin, $bpMax) {
  @media all and (min-width: $bpMin) and (max-width: $bpMax) {
    @content;
  }
}

@mixin media-ie() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin media-edge() {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}
