$colors: (
  darklight: #333,
  extradark: #000000,
  light: #f0f0f0,
  primary: #6c5ce7,
  secondary: #68cfff,
  warning: #fe9730,
  success: #4dc722,
  lightsuccess: #edf9e8,
  danger: #fe3030,
  lightdanger: #fad4e0,
  text: #3d3d3d,
  cancel: #95989a,
  border: #f0f0f0,
  background: #527a83,
  menu: #fed4af,
  focus: gold,
);
$globals: (
  shadow: -1px 15px 30px -12px black,
  shadowLight: -1px 5px 25px -10px white,
);

@function color($color) {
  @return var(--color-#{$color});
}

@function darkanddesaturate($color) {
  @return var(--darkdes-#{$color});
}
@function lightenmsg($color) {
  @return var(--lighte-#{$color});
}

@function darkanddesaturatedanger($color) {
  @return var(--darkdesdanger-#{$color});
}

@function getRgba($color, $a) {
  @return unquote("rgba(#{var(--red-#{$color})},#{var(--green-#{$color})},#{var(--blue-#{$color})},#{$a})");
}
:root {
  @each $color, $value in $colors {
    @each $cName, $cValue in $colors {
      --color-#{$cName}: #{$cValue};
      --darkdes-#{$cName}: #{darken(desaturate($cValue, 12.26), 8.24)};
      --lighte-#{$cName}: #{lighten($cValue, 20%)};
      --darkdesdanger-#{$cName}: #{darken(desaturate($cValue, 16.1), 17.84)};
      --red-#{$cName}: #{red($cValue)};
      --green-#{$cName}: #{green($cValue)};
      --blue-#{$cName}: #{blue($cValue)};
    }
  }
  @each $global, $colors in $globals {
    @each $cName, $cValue in $colors {
      --color-#{$cName}: #{$cValue};
    }
  }
}
