// $font_path: "/static/fonts/";
@font-face {
  font-family: "Imbue-Thin";
  src: url("~@/assets/fonts/Imbue/Imbue-Thin.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Thin.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Thin.svg#Imbue-Thin") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-Thin.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Thin.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Imbue-ExtraLight";
  src: url("~@/assets/fonts/Imbue/Imbue-ExtraLight.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraLight.svg#Imbue-ExtraLight") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraLight.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraLight.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Imbue-Light";
  src: url("~@/assets/fonts/Imbue/Imbue-Light.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Light.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Light.svg#Imbue-Light") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-Light.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Light.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Imbue-Regular";
  src: url("~@/assets/fonts/Imbue/Imbue-Regular.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Regular.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Regular.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Regular.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Imbue-Medium";
  src: url("~@/assets/fonts/Imbue/Imbue-Medium.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Medium.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Medium.svg#Imbue-Medium") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-Medium.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Medium.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Imbue-SemiBold";
  src: url("~@/assets/fonts/Imbue/Imbue-SemiBold.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-SemiBold.svg#Imbue-SemiBold") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-SemiBold.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-SemiBold.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Imbue-Bold";
  src: url("~@/assets/fonts/Imbue/Imbue-Bold.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Bold.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Bold.svg#Imbue-Bold") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-Bold.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Bold.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Imbue-ExtraBold";
  src: url("~@/assets/fonts/Imbue/Imbue-ExtraBold.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraBold.svg#Imbue-ExtraBold") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraBold.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraBold.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Imbue-Black";
  src: url("~@/assets/fonts/Imbue/Imbue-Black.eot");
  src: url("~@/assets/fonts/Imbue/Imbue-Black.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/Imbue/Imbue-Black.svg#Imbue-Black") format("svg"),
    url("~@/assets/fonts/Imbue/Imbue-Black.ttf") format("truetype"),
    url("~@/assets/fonts/Imbue/Imbue-Black.woff") format("woff"),
    url("~@/assets/fonts/Imbue/Imbue-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

//
// Myriad Pro
//

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Regular"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Condensed"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed Italic";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Condensed Italic"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Light";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Light"),
    url("~@/assets/fonts/MyriadPro/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Semibold"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Semibold Italic";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Semibold Italic"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Bold Condensed"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Bold"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Italic";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Bold Italic"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed Italic";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("~@/assets/fonts/MyriadPro/Myriad Pro Bold Condensed Italic"),
    url("~@/assets/fonts/MyriadPro/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

@mixin font-family($font, $weight: 400, $serif: false, $italic: false) {
  @if $serif {
    font-family: #{$font}, monospace;
  } @else {
    font-family: #{$font}, monospace;
  }
  font-weight: $weight;

  @if $italic {
    font-style: italic;
  }
}
