@font-face {
  font-family: "icomoon";
  src: url("~@/assets/fonts/icomoon/icomoon.eot?ws6lg2#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/icomoon/icomoon.ttf?ws6lg2") format("truetype"),
    url("~@/assets/fonts/icomoon/icomoon.woff?ws6lg2") format("woff"),
    url("~@/assets/fonts/icomoon/icomoon.svg?ws6lg2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$icons: (
  "eye": "\e9ce",
  "eye-blocked": "\e9d1",
);

@mixin icon($iconName) {
  content: map-get($icons, $iconName);
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
