@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return #fff;
  }
}

@mixin easeOut {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin fade($fade, $timing, $length, $count, $fill) {
  animation: $fade $timing $length;
  animation-iteration-count: $count;
  animation-fill-mode: $fill;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin errorText {
  display: block;
  color: color(danger);
  @include font-size(1);
  @include font-family("Larke Sans Light 2", 100);
  margin-top: -25px;
  width: 100%;
  @include fade(fadeIn, ease, 2s, 1, forward);
  .icon {
    margin-right: 5px;
  }
}

@mixin mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin-top: 100px;
  height: calc(100vh - 100px);
}

@mixin titleLine {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-family(Myriad Pro Light);
  @include font-size(4);
  color: color(light);
  text-transform: uppercase;
  text-align: center;
  // margin-top: 5%;
  &::after,
  &::before {
    content: "";
    width: 50%;
    height: 2px;
    border-radius: 5px;
  }
  &::before {
    margin-right: 10px;
    margin-left: 2%;
    background: linear-gradient(to right, transparent, color(light));
  }
  &::after {
    margin-left: 10px;
    margin-right: 2%;
    background: linear-gradient(to left, transparent, color(light));
  }
  @include media-breakpoint-down(ts) {
    @include font-size(2);
  }
}
