/* BODY */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  outline: none;
}

html,
body,
header,
main,
footer,
aside,
section,
article,
nav,
menu {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* IMG */
img,
picture {
  outline: none;
  border: none;
  width: 100%;
  height: auto;
}

picture {
  display: block;
  width: 100%;
}

/* BUTTONS & INPUTS */
button,
.button,
.pointer,
a,
input[type="submit"],
select {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
}
button {
  padding: 0;
  font-size: inherit;
  border: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  cursor: text;
}

textarea,
input,
button,
a,
select {
  outline: none;
}
textarea {
  resize: none;
}
input,
select,
textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
  border: none;
  font-size: inherit;
}
select::-ms-expand {
  display: none;
}

@include placeholder {
  color: inherit;
  opacity: 1;
}

/* TEXT ELEMENTS */
.hover {
  text-decoration: none;
}
.hover:hover {
  text-decoration: underline;
}
b,
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
img,
button,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}
ol,
ul li {
  list-style: none;
}

/* FONT WEIGHT */

.bold {
  font-weight: bold;
}
.page {
  padding: 20px;
  // z-index: 1;
  position: relative;
}
@each $key, $value in $breakpoints {
  @for $i from 10 through 300 {
    .w-#{$key}-#{$i} {
      @include media-breakpoint-up($key) {
        min-width: $i + px;
        max-width: $i + px;
        overflow-wrap: anywhere;
      }
    }
  }
}
