/* FONTS */

[class^="icon-"],
[class*=" icon-"],
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ICONS */
@each $icon, $code in $icons {
  .icon-#{$icon}:before {
    content: $code;
  }
}
