<template>
  <div class="home page">
    <Meta />
    <div class="homeTilte">
      <div v-if="user">
        <p v-if="user">{{ `Bienvenue ${user.firstname} ${user.lastname}` }}</p>
        <p v-if="user" class="subTilte">
          Vous êtes connecté.
          <icon :icon="['fas', 'user-astronaut']" class="icon" />
        </p>
        <a @click="go" target="_blank">Go</a>
      </div>
      <p v-else>Bienvenue</p>
    </div>
    <div class="contentBtn">
      <Btn
        v-if="!user"
        :onClick="() => $router.push({ name: 'register' })"
        type="button"
        title="inscrivez vous"
        label="inscrivez vous"
        textBtn="inscrivez vous"
        styleBtn="outlined"
        colorBtn="light"
        typeBtn="text"
        icon
        prefixIcon="fas"
        nameIcon="user-plus"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Meta from '@/components/atoms/Meta';
import Btn from '@/components/atoms/Button';

export default {
  name: 'Home',
  components: {
    Meta,
    Btn
  },
  methods: {
    go() {
      const token = JSON.parse(localStorage.getItem('token'));
      // location.href = `https://app2.irimax-dev.fr?access_token=${token}`;
      //  window.open(`https://app2.irimax-dev.fr?access_token=${token},'_blank'`);
      // location.href = `http://localhost:8081?access_token=${token}`;
      // window.open(`http://localhost:8081?access_token=${token},'_blank'`);

      const url = `http://localhost:8081?access_token=${token}`;
      // const url = `https://app2.irimax-dev.fr?access_token=${token}`;
      const link = document.createElement('a');
      link.href = url;
      document.body.appendChild(link);
      window.open(link, '_blank');
    }
  },
  computed: {
    ...mapGetters('user', ['user'])
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
