@import "@/assets/scss/utilities/config";

.home {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .homeTilte,
    .subTilte {
        text-align: center;
        @include font-size(4);
        @include font-family(Myriad Pro Light);
        color: color(light);
    }
    .homeTilte {
        @include media-breakpoint-down(ts) {
            @include font-size(3);
        }
    }
    .subTilte {
        @include media-breakpoint-down(ts) {
            @include font-size(1.5);
        }
    }
}
