@import "@/assets/scss/utilities/config";
.btnLoader {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid color(light);
    border-left: 1px solid color(light);
    &:hover {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff, 0 0 30px #fdfffc, 0 0 40px #f5f5f5,
            0 0 55px #ffffff, 0 0 75px #ffffff;
    }
    .icon {
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 10px;
    }
}
