<template>
  <div>
    <div class="containerNotFound">
      <Meta pageTitle="AUTH-PROJECT | Page non trouvé" />
      <div>
        <div class="errorTemplate">
          <h1>Oops!</h1>
          <h2>404 Not Found</h2>
          <div class="errorDetails">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="errorActions">
            <Btn
              :onClick="() => $router.push({ name: 'Home' })"
              title="Take Me Home"
              label="Take Me Home"
              textBtn="Take Me Home"
              styleBtn="outlined"
              colorBtn="light"
              class="contentBtn"
              typeBtn="button"
              icon
              nameIcon="home"
            />
            <Btn
              :onClick="() => $router.push({ name: 'login' })"
              title="connexion"
              label="connexion"
              textBtn="connexion"
              styleBtn="outlined"
              colorBtn="light"
              class="contentBtn"
              typeBtn="button"
              icon
              nameIcon="sign-in-alt"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from '@/components/atoms/Button';
import Meta from '@/components/atoms/Meta';
export default {
  name: 'NotFound',
  components: {
    Btn,
    Meta
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" src="./style.scss" scoped></style>
