@import "@/assets/scss/utilities/config";

.containerNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    padding: 10px;
    // top: 40%;
    .errorTemplate {
        text-align: center;
        color: color(light);
        @include font-family(Imbue-SemiBold);
        @include font-size(4);
        background-image: url("~@/assets/img/witch.jpg");
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        box-shadow: -1px 5px 25px -10px white;
        padding: 30px;
        border-radius: 5px;
        border-top: 1px solid color(light);
        border-left: 1px solid color(light);
    }
    .errorDetails {
        color: color(light);
        @include font-family(Myriad Pro Light);
        @include font-size(2);
    }
    .errorActions {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
