@import "@/assets/scss/utilities/config";

.reset {
}
.title {
    white-space: nowrap;
}
#form {
    @include media-breakpoint-down(ts) {
        margin-top: 5%;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 10%;
    }
}
